.glass-wrapper {
    display: inline-block;
    border-radius: 100px;
    padding: 10px;
    // background: radial-gradient(
    //     50% 220% at 50% 50%,
    //     rgba(255, 255, 255, 0) 0%,
    //     rgba(255, 255, 255, 0.25) 100%
    // );
    backdrop-filter: blur(32px);
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 100px;
        padding: 1px;
        background: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0.55) 0%,
        rgba(255, 255, 255, 0.10) 40%,
        rgba(255, 255, 255, 0.05) 60%,
        rgba(255, 255, 255, 0.20) 100%
        );
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
    }
}

.glass-button {
    display: block;
    font-size: 16px;
    padding: 19px 33px;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                radial-gradient(33.13% 37.96% at 83.13% 0%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(50% 57.28% at 0% 100%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
                radial-gradient(85.94% 85.94% at 50% 100%, rgba(109, 196, 171, 0.5) 0%, rgba(109, 196, 171, 0) 100%);
    backdrop-filter: blur(4px);
    color: white;
    cursor: pointer;
    position: relative;

    &::before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 100px;
            padding: 1px;
            background: linear-gradient(
            160deg,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(255, 255, 255, 0.15) 35%,
            rgba(255, 255, 255, 0.05) 65%,
            rgba(255, 255, 255, 0.25) 100%
            );
            -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
    }
}