.hero-wrapper{
    flex: 1;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    img{
        position: absolute;
        z-index: -1;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }


    .line-titles-block{

        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;

        .line-title{
            color: white;
            font-size: 190px;
            text-align: center;
            text-transform: uppercase;
        }
    }


    .bottom-part{
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        width: 100%;

        .text-place{
            max-width: 500px;
            width: 100%;
            text-wrap: balance;
        }


        .short-description{
            font-size: 54px;
        }
    }
}