
@use "./components/mixins" as *;
@use "./components/preloader";
@use "./components/built-solutions";
@use "./components/core-expertise";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(4, 5, 6);
    color: #ffffff;
    // overflow: clip;
    font-family: "Inter", sans-serif;
}


.container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}


.section-container{
    margin-top: 90px;
    margin-bottom: 60px;
}

img{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title-block{
    h2{
        font-weight: 600;
        font-size: 48px;
        text-align: center;
        text-transform: uppercase;

        @include mobile {
            font-size: 32px;
        }
    }
    p{
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        opacity: 0.5;
        @include mobile {
            font-size: 15px;
        }
    }
}


.bg-image-container{
    position: relative;

    .bg-image{
        opacity: 0.3;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}


.glass-effect{
    @include glass-effect;
}


.swiper-button-prev,
.swiper-button-next {
    width: 48px;
    height: 48px;
    color: #fff!important;
    aspect-ratio: 1;

  svg {
    height: 15px !important;
    position: relative;
    z-index: 2;
  }
}


.swiper-pagination{
    position: static!important;
    display: flex;
    justify-content: center;
    gap: 12px;
    .swiper-pagination-bullet{
        margin: 0!important;
        @include glass-effect;
        width: 10px;
        height: 10px;
        aspect-ratio: 1;
        opacity: 1;

        &.swiper-pagination-bullet-active{
            background: #D9D9D9E5;
        }
    }

}