@use "mixins";


.our-servises-wrapper{
    flex: 1;
    height: 100%;
    width: 100%;
    background: #141B19;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    .bg-slider{
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

.services-grid {
    flex: 1;  
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto auto 1fr auto;
    grid-auto-flow: row;
    grid-template-areas:
        "title-place title-place"
        ". slider-title-place"
        "slider-place service-menu-place"
        "slider-pagination-place service-menu-place";


    @include mixins.mobile{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "title-place slider-pagination-place"
            "slider-title-place slider-title-place"
            "slider-place slider-place"
            "service-menu-place service-menu-place";
    }


    &.calculation-preset{
        @include mixins.mobile{
            grid-template-rows: auto auto auto 1fr;
        }
    }
}

    .service-menu-place      { grid-area: service-menu-place; }
    .title-place             { grid-area: title-place; }
    .slider-title-place      { grid-area: slider-title-place; }
    .slider-pagination-place { grid-area: slider-pagination-place; }


    .slider-pagination-place{
        @include mixins.mobile{
            display: flex;
            justify-content: flex-end;
        }
    }

    .slider-place { 
        grid-area: slider-place;
        min-width: 0;      /* ← главный фикс */
        display: flex;
        align-items: flex-end;
        position: relative;

        &.light::after{
            content: "";
            position: absolute;
            aspect-ratio: 1;
            width: 40%;
            border-radius: 50%;
            background-color: rgb(81, 174, 148);
            filter: blur(120px);
            pointer-events: none;
            top: 0;
            bottom: 0%;
            right: 0%;
            left: 0;
            margin: auto;
        }
    }

    .slider-title-place{
        display: grid;
    }

    .title-place{
        h2{
            font-size: 12px;
            font-weight: bold;
            color: #647680;
            display: flex;
            gap: 20px;
            &::before{
                content: "///";
            }
        }
    }


    .service-menu-place{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .services-table-wrapper{
        overflow: auto;
        width: 100%;
    }

    .service-element-name{
        .title{
            text-transform: uppercase;
            font-size: 54px;
            font-weight: 400;

            @include mixins.mobile   {
                 font-size: 28px;
            }
        }
        .description{
            color: #526169;
            text-transform: uppercase;
            font-size: 33px;
            font-weight: 400;

              @include mixins.mobile   {
                    font-size: 22px;
                }
        }
    }


    .services-table {
        background: #FFFFFF03;
        backdrop-filter: blur(10px);
        width: 100%;
        border-collapse: collapse;

        td {   
            border: 1px solid rgba(82, 97, 105, 0.2509803922);
        }

        &.additional-table{
             tr:first-child td {
                border-top: none; // убираем нижний бордер последней строки
            }
        }

        .col-2{
            td{
                width: 50%;
            }
        }
        .col-3{
            td{
                width: calc(100% / 3);
            }
        }
        


        .table-title{
            display: flex;
            padding: 20px;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            background: linear-gradient(263.84deg, #BFEFD2 0%, #F5FFF9 99.22%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
        }

        .brand-block{
            aspect-ratio: 27 / 11;
            display: flex;
            align-items: center;
            justify-content: center;


            @include mixins.mobile {
                aspect-ratio: 16 / 9;
            }

            object{
                filter: brightness(0.5);
                transition: filter ease-in-out 0.4s;
            };
            &:hover{
                object{
                    filter: brightness(1);
                };
            }

            &.text-information-wrapper{
                background: #FFFFFF0D;
                padding: 20px 30px;

                @include mixins.mobile   {
                    padding: 16px;
                }
                
                .text-information{
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    justify-content: center;
                    align-items: flex-start;

                    @include mixins.mobile   {
                       gap: 10px;
                    }

                    p{
                        font-weight: 500;
                        font-size: 12px;
                        text-wrap: balance;

                        @include mixins.mobile   {
                            font-size: 10px;
                        }
                    }
                }
            }
        }

    }



    .color-block{
            aspect-ratio: 18 / 10;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding: 20px;

            @include mixins.mobile   {
                aspect-ratio: unset;
            }

            .text{
                font-size: 11px;
                font-weight: 500;

                @include mixins.mobile   {
                    text-wrap: nowrap;
                }
            }
        }



        .schield-block{
            aspect-ratio: 27 / 8;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            padding: 20px;

             @include mixins.mobile   {
                aspect-ratio: unset;
            }

            .text{
                font-size: 14px;
                font-weight: 500;
                text-wrap: nowrap;

                @include mixins.mobile   {
                     font-size: 11px;
                }
            }

            svg *{
                fill: #ffffff;
                transition: fill ease-in-out 0.4s;

                @include mixins.mobile   {
                    fill: #ffffff!important;
                }
            }

            &:hover, &.active{
                svg *{
                    fill: #71CDB3;
                }
            }
        }


        .hover-light{
            overflow: hidden;
            position: relative;
            
            span{
                color:#526169;
                transition: color 0.4s ease-in-out;
            }
            &:hover, &.active{
                 span{
                    color:#ffffff;
                }
                &::after{
                    transform: translate(0, 50%);
                }
            }
            &::after{
                content: "";
                position: absolute;
                aspect-ratio: 1;
                height: 100%;
                width: 100%;
                /* border-radius: 79%; */
                background: linear-gradient(0deg, #71CDB3 0%, rgba(255, 255, 255, 0) 60%);
                filter: blur(40px);
                pointer-events: none;
                bottom: 0%;
                right: 0%;
                left: 0;
                margin: auto;
                transform: translate(0, calc(100% + 40px));
                transition: transform ease-in-out 0.4s;
            }

        }


    .shield-service-slider{
        background: #FFFFFF03;
        backdrop-filter: blur(10px);
        width: 100%;
        border-collapse: collapse;
        border: 1px solid rgba(82, 97, 105, 0.2509803922);
        border-top: none;

    }


}


.glass-color{
    aspect-ratio: 1;
    width: 40px;
    height: 40px;


    &.gloss{
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
                    radial-gradient(60% 60% at 50% 100%, rgba(109, 196, 171, 0.6) 0%, rgba(109, 196, 171, 0) 100%);

    }

    &.matte{
        background: #FFFFFF66;
    }
    &.any{
        background: linear-gradient(0deg, rgba(127, 240, 209, 0.4), rgba(127, 240, 209, 0.4)),
                    radial-gradient(60% 60% at 50% 100%, #6DC4AB 0%, rgba(109, 196, 171, 0) 100%);

    }
}



.calculation-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        "text-place text-place"
        "button-place logo-place";
    height: 100%;
    justify-items: stretch;
    align-content: space-between;
    align-items: center;


    @include mixins.mobile {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas:
            "text-place"
            "logo-place"
            "button-place";

        justify-items: center;   
    }



    .text-place { grid-area: text-place; }
    .button-place { grid-area: button-place; }
    .logo-place { grid-area: logo-place; }
    


    .text-place{
        margin-top: 60px;
        .text{
            text-wrap: balance;
            font-size: 28px;

            @include mixins.mobile {
                font-size: 20px;
                text-align: center
            }

            span{
                color: #526169;

            }
        }
    }

    .logo-place{
        filter: grayscale(1) brightness(0.9);
        display: flex;
        justify-content: flex-end;

        @include mixins.mobile {
            align-self: start;
        }
    }

    .button-place {
        @include mixins.mobile {
            align-self: end;
        }
    }
}