@charset "UTF-8";
header {
  position: sticky;
  height: 0;
  z-index: 100;
  top: 20px;
}
header .container {
  height: auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .glass-menu {
  position: absolute; /* центрируем независимо от flex */
  left: 50%;
  transform: translateX(-50%);
}
header {
  /* Крайние элементы — просто оставляем в flex */
}
header .logo-place, header .glass-contact {
  z-index: 1; /* чтобы не перекрывал центральный */
}
header .logo-place {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .glass-wrapper {
  padding: 4px;
}
header .header-menu {
  display: flex;
  gap: 4px;
  list-style: none;
}
header .header-menu > li {
  display: flex;
}
header .header-menu > li > a {
  padding: 13px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border-radius: 100px;
  text-wrap: nowrap;
}
header .header-menu > li > a:hover {
  background: rgba(245, 255, 249, 0.0509803922);
  color: #71CDB3;
}
header .header-menu > li.has-sub-menu {
  position: relative;
}
header .header-menu > li.has-sub-menu > a {
  position: relative;
  padding-right: 20px;
  display: flex;
  align-items: center;
  padding-right: 26px;
}
header .header-menu > li.has-sub-menu > a::after {
  content: "";
  position: absolute;
  right: 10px;
  width: 10px;
  height: 10px;
  top: -2px;
  bottom: 0;
  margin: auto;
  background: #71CDB3;
  clip-path: polygon(0 30%, 50% 80%, 100% 30%, 80% 30%, 50% 60%, 20% 30%);
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}
header .header-menu > li.has-sub-menu > a:hover::after {
  transform: rotate(180deg);
}
header .header-menu > li.has-sub-menu:hover ul {
  transform: scaleY(1);
}
header .header-menu > li.has-sub-menu ul {
  transform: scaleY(0);
  transform-origin: top;
  padding: 12px 18px;
  position: absolute;
  left: 0;
  top: calc(100% + 20px);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 24px;
  transition: transform 0.4s ease-in-out;
}
header .header-menu > li.has-sub-menu ul::after {
  content: "";
  padding-top: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  top: -20px;
}
header .header-menu > li.has-sub-menu ul li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  border-radius: 100px;
  text-wrap: nowrap;
}
header .header-menu > li.has-sub-menu ul li a:hover {
  color: #71CDB3;
}
header .header-menu .phone-number {
  font-size: 14px;
  font-weight: 700;
  padding: 12px 17px;
}
header .glass-burger-wrapper {
  aspect-ratio: 1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
header .glass-burger-wrapper.active .burger-block.close {
  transform: translateY(40px);
}
header .glass-burger-wrapper.active .burger-block.open {
  transform: translateY(0px);
}
header .glass-burger-wrapper .burger-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  gap: 4px;
  aspect-ratio: 1;
  border-radius: 2px;
  transition: transform 0.4s ease-in-out;
}
header .glass-burger-wrapper .burger-block.close {
  transform: translateY(0px);
}
header .glass-burger-wrapper .burger-block.close span {
  height: 1px;
  width: 2px;
  background: #71CDB3;
}
header .glass-burger-wrapper .burger-block.close span:nth-child(1) {
  width: 16px;
}
header .glass-burger-wrapper .burger-block.close span:nth-child(2) {
  width: 10px;
}
header .glass-burger-wrapper .burger-block.close span:nth-child(3) {
  width: 6px;
}
header .glass-burger-wrapper .burger-block.open {
  transform: translateY(-40px);
}
header .glass-burger-wrapper .burger-block.open span {
  height: 1px;
  width: 2px;
  background: #71CDB3;
}
header .glass-burger-wrapper .burger-block.open span:nth-child(1) {
  position: absolute;
  width: 16px;
  transform: rotate(45deg);
}
header .glass-burger-wrapper .burger-block.open span:nth-child(2) {
  position: absolute;
  width: 16px;
  transform: rotate(-45deg);
}

#mobile-menu {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s ease-in-out;
}
#mobile-menu.active {
  transform: scaleY(1);
}

.main-nav {
  position: absolute;
  left: 0;
  top: calc(100% + 20px);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}
.main-nav::-webkit-scrollbar {
  display: none;
}

.mobile-menu {
  border-radius: 20px !important;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu-link {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid var(--support-color);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.menu-item-has-children .arrow-left {
  transform: rotate(180deg);
  width: 0;
  overflow: hidden;
  transition: width 0.4s ease;
}
.menu-item-has-children .arrow-right {
  width: 24px;
  margin-left: auto;
  overflow: hidden;
  transition: width 0.4s ease;
}
.menu-item-has-children.active .arrow-left {
  width: 24px;
}
.menu-item-has-children.active .arrow-right {
  width: 0;
}

.sub-menu-container {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.5s ease-in-out;
}
.menu-item-has-children.active .sub-menu-container {
  grid-template-rows: 1fr;
}

.sub-menu {
  min-height: 0;
  list-style: none;
  padding: 0;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sub-menu li:first-child {
  margin-top: 12px;
}
.sub-menu li:last-child {
  margin-bottom: 24px;
}

.sub-menu-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.sub-menu-title {
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.menu-all-cat-btn a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5em;
}

.hero-wrapper {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero-wrapper .bg-image {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}
.hero-wrapper .light {
  position: absolute;
  aspect-ratio: 1;
  width: 10%;
  border-radius: 50%;
  background: #81D6BE;
  filter: blur(60px);
  pointer-events: none;
}
.hero-wrapper .light::after {
  content: "";
  position: absolute;
  inset: -50%;
  border-radius: 50%;
  background: #CAFFF0;
  filter: blur(120px);
  opacity: 0.6;
}
.hero-wrapper .light.light-1 {
  top: 0%;
  left: 23%;
  transform: translate(-50%, -50%);
}
.hero-wrapper .light.light-2 {
  top: 0%;
  right: 24%;
  transform: translate(50%, -50%);
}
.hero-wrapper .light.light-3 {
  width: 8%;
  bottom: 15%;
  left: 0%;
  transform: translate(-50%, 50%);
}
.hero-wrapper .light.light-4 {
  width: 9%;
  bottom: 0%;
  right: 11%;
  transform: translate(50%, 50%);
}
.hero-wrapper .line-titles-block {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
}
.hero-wrapper .line-titles-block .line-title {
  background: linear-gradient(0deg, rgba(88, 158, 138, 0.1) 19.81%, #589E8A 125.47%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 190px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hero-wrapper .line-titles-block .line-title {
    font-size: 63px;
  }
}
.hero-wrapper .bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  width: 100%;
  gap: 40px;
}
@media (max-width: 768px) {
  .hero-wrapper .bottom-part {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .hero-wrapper .bottom-part .button-place {
    margin: auto;
  }
}
.hero-wrapper .bottom-part .text-place {
  max-width: 500px;
  width: 100%;
  text-wrap: balance;
}
.hero-wrapper .bottom-part .short-description {
  text-transform: uppercase;
  font-size: 54px;
  background: linear-gradient(263.84deg, #BFEFD2 0%, #F5FFF9 99.22%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 768px) {
  .hero-wrapper .bottom-part .short-description {
    font-size: 28px;
  }
}

.our-servises-wrapper {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.our-servises-wrapper .bg-slider {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.our-servises-wrapper .container {
  display: flex;
  flex-direction: column;
}
.our-servises-wrapper .services-grid {
  flex: 1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto auto 1fr auto;
  grid-auto-flow: row;
  grid-template-areas: "title-place title-place" ". slider-title-place" "slider-place service-menu-place" "slider-pagination-place service-menu-place";
}
@media (max-width: 768px) {
  .our-servises-wrapper .services-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "title-place slider-pagination-place" "slider-title-place slider-title-place" "slider-place slider-place" "service-menu-place service-menu-place";
  }
}
.our-servises-wrapper .services-grid.calculation-preset {
  grid-template-columns: 8fr 3fr 3fr;
  grid-template-rows: auto auto 1fr auto;
  grid-auto-flow: row;
  grid-template-areas: "title-place title-place title-place" ". slider-title-place slider-title-place" "slider-place text-place text-place" "slider-pagination-place button-place logo-place";
  align-items: center;
}
@media (max-width: 768px) {
  .our-servises-wrapper .services-grid.calculation-preset {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr auto;
    grid-template-areas: "title-place slider-pagination-place" "slider-title-place slider-title-place" "text-place text-place" "logo-place logo-place" "button-place button-place";
  }
}
.our-servises-wrapper .services-grid .service-menu-place {
  grid-area: service-menu-place;
}
.our-servises-wrapper .services-grid .title-place {
  grid-area: title-place;
}
.our-servises-wrapper .services-grid .slider-title-place {
  grid-area: slider-title-place;
}
.our-servises-wrapper .services-grid .slider-pagination-place {
  grid-area: slider-pagination-place;
}
.our-servises-wrapper .services-grid .text-place {
  grid-area: text-place;
}
.our-servises-wrapper .services-grid .button-place {
  grid-area: button-place;
}
.our-servises-wrapper .services-grid .logo-place {
  grid-area: logo-place;
}
@media (max-width: 768px) {
  .our-servises-wrapper .slider-pagination-place {
    display: flex;
    justify-content: flex-end;
  }
}
.our-servises-wrapper .slider-place {
  grid-area: slider-place;
  min-width: 0; /* ← главный фикс */
  display: flex;
  align-items: flex-end;
  position: relative;
}
.our-servises-wrapper .slider-place.light::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  width: 40%;
  border-radius: 50%;
  background-color: rgb(81, 174, 148);
  filter: blur(120px);
  pointer-events: none;
  top: 0;
  bottom: 0%;
  right: 0%;
  left: 0;
  margin: auto;
}
.our-servises-wrapper .slider-title-place {
  display: grid;
}
.our-servises-wrapper .title-place h2 {
  font-size: 12px;
  font-weight: bold;
  color: #647680;
  display: flex;
  gap: 20px;
}
.our-servises-wrapper .title-place h2::before {
  content: "///";
}
.our-servises-wrapper .service-menu-place {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.our-servises-wrapper .services-table-wrapper {
  overflow: auto;
  width: 100%;
}
.our-servises-wrapper .service-element-name .title {
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .our-servises-wrapper .service-element-name .title {
    font-size: 28px;
  }
}
.our-servises-wrapper .service-element-name .description {
  color: #526169;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .our-servises-wrapper .service-element-name .description {
    font-size: 22px;
  }
}
.our-servises-wrapper .services-table {
  background: rgba(255, 255, 255, 0.0117647059);
  backdrop-filter: blur(10px);
  width: 100%;
  border-collapse: collapse;
}
.our-servises-wrapper .services-table td {
  border: 1px solid rgba(82, 97, 105, 0.2509803922);
}
.our-servises-wrapper .services-table.additional-table tr:first-child td {
  border-top: none;
}
.our-servises-wrapper .services-table .col-2 td {
  width: 50%;
}
.our-servises-wrapper .services-table .col-3 td {
  width: 33.3333333333%;
}
.our-servises-wrapper .services-table .table-title {
  display: flex;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(263.84deg, #BFEFD2 0%, #F5FFF9 99.22%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.our-servises-wrapper .services-table .brand-block {
  aspect-ratio: 27/11;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .our-servises-wrapper .services-table .brand-block {
    aspect-ratio: 16/9;
  }
}
.our-servises-wrapper .services-table .brand-block object {
  filter: brightness(0.5);
  transition: filter ease-in-out 0.4s;
}
.our-servises-wrapper .services-table .brand-block:hover object {
  filter: brightness(1);
}
.our-servises-wrapper .services-table .brand-block.text-information-wrapper {
  background: rgba(255, 255, 255, 0.0509803922);
  padding: 20px 30px;
}
@media (max-width: 768px) {
  .our-servises-wrapper .services-table .brand-block.text-information-wrapper {
    padding: 16px;
  }
}
.our-servises-wrapper .services-table .brand-block.text-information-wrapper .text-information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .our-servises-wrapper .services-table .brand-block.text-information-wrapper .text-information {
    gap: 10px;
  }
}
.our-servises-wrapper .services-table .brand-block.text-information-wrapper .text-information p {
  font-weight: 500;
  font-size: 12px;
  text-wrap: balance;
}
@media (max-width: 768px) {
  .our-servises-wrapper .services-table .brand-block.text-information-wrapper .text-information p {
    font-size: 10px;
  }
}
.our-servises-wrapper .color-block {
  aspect-ratio: 18/10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}
@media (max-width: 768px) {
  .our-servises-wrapper .color-block {
    aspect-ratio: unset;
  }
}
.our-servises-wrapper .color-block .text {
  font-size: 11px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .our-servises-wrapper .color-block .text {
    text-wrap: nowrap;
  }
}
.our-servises-wrapper .schield-block {
  aspect-ratio: 27/8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 20px;
}
@media (max-width: 768px) {
  .our-servises-wrapper .schield-block {
    aspect-ratio: unset;
  }
}
.our-servises-wrapper .schield-block .text {
  font-size: 14px;
  font-weight: 500;
  text-wrap: nowrap;
}
@media (max-width: 768px) {
  .our-servises-wrapper .schield-block .text {
    font-size: 11px;
  }
}
.our-servises-wrapper .schield-block svg * {
  fill: #ffffff;
  transition: fill ease-in-out 0.4s;
}
@media (max-width: 768px) {
  .our-servises-wrapper .schield-block svg * {
    fill: #ffffff !important;
  }
}
.our-servises-wrapper .schield-block.active svg * {
  fill: #71CDB3;
}
.our-servises-wrapper .schield-block.active span {
  color: #ffffff;
}
.our-servises-wrapper .schield-block.active::after {
  transform: translate(0, 0);
}
.our-servises-wrapper .after-light {
  overflow: hidden;
  position: relative;
}
.our-servises-wrapper .after-light span {
  color: #526169;
  transition: color 0.4s ease-in-out;
}
.our-servises-wrapper .after-light.hover-light:hover span {
  color: #ffffff;
}
.our-servises-wrapper .after-light.hover-light:hover::after {
  transform: translate(0, 0);
}
.our-servises-wrapper .after-light::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  height: 100%;
  width: 100%;
  /* border-radius: 79%; */
  background: linear-gradient(0deg, #71CDB3 0%, rgba(255, 255, 255, 0) 30%);
  filter: blur(40px);
  pointer-events: none;
  bottom: 0%;
  right: 0%;
  left: 0;
  margin: auto;
  transform: translate(0, calc(100% + 40px));
  transition: transform ease-in-out 0.4s;
}
.our-servises-wrapper .shield-service-slider {
  background: rgba(255, 255, 255, 0.0117647059);
  backdrop-filter: blur(10px);
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(82, 97, 105, 0.2509803922);
  border-top: none;
}
.our-servises-wrapper .glass-color {
  aspect-ratio: 1;
  width: 40px;
  height: 40px;
}
.our-servises-wrapper .glass-color.gloss {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), radial-gradient(60% 60% at 50% 100%, rgba(109, 196, 171, 0.6) 0%, rgba(109, 196, 171, 0) 100%);
}
.our-servises-wrapper .glass-color.matte {
  background: rgba(255, 255, 255, 0.4);
}
.our-servises-wrapper .glass-color.any {
  background: linear-gradient(0deg, rgba(127, 240, 209, 0.4), rgba(127, 240, 209, 0.4)), radial-gradient(60% 60% at 50% 100%, #6DC4AB 0%, rgba(109, 196, 171, 0) 100%);
}
.our-servises-wrapper .text-place .text {
  text-wrap: balance;
  font-size: 28px;
}
@media (max-width: 768px) {
  .our-servises-wrapper .text-place .text {
    font-size: 20px;
    text-align: center;
  }
}
.our-servises-wrapper .text-place .text span {
  color: #526169;
}
.our-servises-wrapper .logo-place {
  filter: grayscale(1) brightness(0.9);
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .our-servises-wrapper .logo-place {
    justify-content: center;
    align-self: start;
  }
}
@media (max-width: 768px) {
  .our-servises-wrapper .button-place {
    align-self: end;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.glass-wrapper {
  display: inline-block;
  border-radius: 40px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(32px);
  position: relative;
}
.glass-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px; /* толщина бордера */
  border-radius: inherit;
  background: linear-gradient(350deg, rgba(81, 174, 148, 0.164) 0%, rgba(106, 177, 157, 0.199) 20%, rgba(66, 66, 66, 0.37) 60%, rgba(255, 255, 255, 0.322) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.glass-button {
  display: block;
  font-size: 16px;
  padding: 19px 33px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(33.13% 37.96% at 83.13% 0%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(50% 57.28% at 0% 100%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(85.94% 85.94% at 50% 100%, rgba(109, 196, 171, 0.5) 0%, rgba(109, 196, 171, 0) 100%);
  backdrop-filter: blur(4px);
  color: white;
  cursor: pointer;
  position: relative;
}
.glass-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px;
  padding: 1px;
  background: linear-gradient(160deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.15) 35%, rgba(255, 255, 255, 0.05) 65%, rgba(255, 255, 255, 0.25) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.titleSlider {
  display: grid;
  width: 100%;
}

.swiper-slide {
  overflow: hidden;
}

.glass-pagination {
  display: flex;
  width: fit-content !important;
  padding: 14px 16px;
  color: #71CDB3;
  font-weight: 500;
}
.glass-pagination .swiper-glass-pagination {
  display: flex;
  gap: 8px;
}
.glass-pagination .swiper-pagination-total {
  color: #71CDB3;
  font-weight: 500;
}
.glass-pagination .swiper-pagination-current {
  color: #ffffff;
  font-weight: 500;
}

.contentSlider {
  height: 100%;
}
.contentSlider .image-place {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentSlider .image-place img, .contentSlider .image-place video {
  width: 100%;
}
.contentSlider .image-place img.full-cover, .contentSlider .image-place video.full-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-image {
  align-items: flex-end;
  justify-content: center;
}
.side-image .car-image.full-cover {
  width: auto;
  height: 80%;
  position: relative;
  left: -20%;
}
@media (max-width: 768px) {
  .side-image .car-image.full-cover {
    position: static;
    left: 0;
    height: 50%;
  }
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/helveticaneuecyr-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/helveticaneuecyr-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #ffffff;
}

/* ===== Полностью минималистичный скроллбар ===== */
*::-webkit-scrollbar {
  width: 4px;
  background: #141B19;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: #71CDB3 !important;
}

/* ===== Выделение текста ===== */
::selection {
  background-color: #71CDB3;
  color: #fff;
}

a {
  text-decoration: none;
}

body {
  background: #141B19;
}

main {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.light-text {
  font-weight: 300;
}

.regular-text {
  font-weight: 400;
}

.medium-text {
  font-weight: 500;
}

.container {
  max-width: 1316px;
  padding-top: 128px;
  padding-bottom: 64px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex: 1;
}
@media (max-width: 768px) {
  .container {
    padding-top: 104px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.scroll-snap-section {
  min-height: 100dvh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column; /* если нужно вертикально */
  overflow: hidden;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
}

.mobile-only {
  display: none !important;
}
@media (max-width: 768px) {
  .mobile-only {
    display: flex !important;
  }
}

.scroll-snap-section .side-image {
  transform: translateY(100%);
  transition: transform 1.8s ease-in-out;
}

.scroll-snap-section.active .side-image {
  transform: translateY(0);
}

/*# sourceMappingURL=style.css.map */
